body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #44475a;
  padding: 20px 0;
}

.caixa {
  width: 1020px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: #f8f8f2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

nav a:hover {
  color: #ff79c6;
  text-decoration: underline;
  transition: 0.5s;
}

main {
  width: 1020px;
  margin: 0 auto;
}

.produtos {
  width: 1020px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 10px;
  background: #fff;
}

.produtos li:hover {
  border-color: #ff79c6;
  transition: 0.5s;
}

.produtos li:active {
  border-color: #50fa7b;
  transition: 0.5s;
}

.produtos li:active h2 {
  color: #bd93f9;
  font-size: 30px;
  transition: 0.5s;
}

.produtos h2 {
  font-size: 28px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  background: url('../assets/bg.jpg');
  text-align: center;
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-for-text {
  display: block;
  margin: 0 0 20px;
  width: 50%;
  padding: 10px 25px;
}

.checkbox-news {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  background: orange;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px 0;
  font-size: 18px;
  cursor: pointer;

  transition: 0.4s;
}

.enviar:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

table {
  margin: 20px 40px;
}

thead {
  background: #555;
  color: #fff;
  font-weight: 700;
}

td,
th {
  border: 1px solid #000;
  padding: 8px 15px;
}

/* CSS HOME PAGE */

.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.utensilios {
  width: 115px;
  float: left;
  margin: 0 20px 0 0;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: 700;
}

.principal em {
  font-style: italic;
}

.imagem-beneficios {
  width: 60%;
}
