.principal {
  background-color: #282a36;
  color: #f8f8f2;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

#banner {
  width: 100%;
}

.titulo-centralizado {
  color: #ff79c6;
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #8be9fd;
}

.beneficios {
  background-color: #44475a;
  color: #f8f8f2;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.imagembeneficios {
  width: 50%;
}
